name: Deploy to Dev (Build & Update Infra)

on:
  push:
    branches:
      - "develop"
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    environment: 
      name: dev
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout App Code
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=sha,format=long
            type=raw,value=develop

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  update-infrastructure-repo:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Infrastructure Repo
        uses: actions/checkout@v4
        with:
          repository: ${{ vars.INFRA_REPO_OWNER }}/${{ vars.INFRA_REPO_NAME }}
          token: ${{ secrets.INFRA_REPO_PAT }}
          path: infrastructure
          ref: master

      - name: Install Kustomize
        uses: imranismail/setup-kustomize@v2

      - name: Update Image Tag in Dev Overlay
        env:
          NEW_IMAGE: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:sha-${{ github.sha }}
          OVERLAY_PATH: kubernetes/apps/token-explorer/overlays/dev
        run: |
          cd infrastructure/$OVERLAY_PATH
          echo "Updating image to: $NEW_IMAGE"
          kustomize edit set image ghcr.io/Allfeat/token-explorer=$NEW_IMAGE

      - name: Commit and Push Changes
        run: |
          cd infrastructure
          git config user.name "CI Pipeline"
          git config user.email "ci@bot.com"
          
          if [[ -n $(git status -s) ]]; then
            git add .
            git commit -m "ci(dev): deploy version ${{ github.sha }} to dev"
            git push origin main
          else
            echo "No changes to commit"
          fi
